[submodule "opencv/standard"]
	path = opencv/standard
	url = https://github.com/opencv/opencv.git
	branch = master
[submodule "opencv/modules"]
	path = opencv/modules
	url = https://github.com/opencv/opencv_contrib.git
	branch = master
[submodule "external/gstreamer"]
	path = external/gstreamer
	url = https://github.com/GStreamer/gstreamer.git
	branch = master
[submodule "external/cpp-properties"]
	path = external/cpp-properties
	url = https://github.com/fredyw/cpp-properties.git
	branch = master
[submodule "external/qt-gstreamer"]
	path = external/qt-gstreamer
	url = https://github.com/GStreamer/qt-gstreamer.git
	branch = master
[submodule "external/vtk"]
	path = external/vtk
	url = https://gitlab.kitware.com/vtk/vtk.git
	branch = master
